<%
	var title = '';
	if (page.category) title = page.category;
	if (page.tag) title = "#" + page.tag;
	if (page.archive) {
		if (page.year) title = page.year + (page.month ? '/' + page.month : '');
		else title = __('archive_a');
	}
%>

<!-- Main Content -->
<!-- This is used to generate lists from tags and categories. -->

<h1 class="page-width page-centre"><%- page.category ? titlecase(page.category.replace("-", " ")) : ''%></h1>

<main class="page-width page-centre post-list">
	<ul>
		<% page.posts.each(function(item){ %>
			<%- partial('_partial/content-list', {item: item}) %>
		<% }); %>
	</ul>
</main>

<!-- Paginator -->

<%- partial('_partial/pagination') %>
