body {
	max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.videoEmbedWrapper {
	width:  560px;
}

#site-intro {
	display: flex;
}

#about-text {
	margin-left: 6px;
}
header {
  background-size: 960px 220px;
  height: 220px;
  width: 960px;
  text-align: center;
  margin: 6px auto 4px auto;
}

#site-header h1 {
  font-size: 68px;
}

#site-header h2 {
  font-size: 32px;
}