body {
	max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.videoEmbedWrapper {
	width:  560px;
}

#site-intro {
	display: flex;
}

#about-text {
	margin-left: 6px;
}

header {
  margin: 6px auto 0 auto;
}

#site-header {
	background-image: url('/images/blurred-photos-1920.jpg');
  background-size: 960px 220px;
  min-height: 220px;
}

#site-header h1 {
  font-size: 68px;
}

#site-header h2 {
  font-size: 32px;
}