header {
	background-image: url('/images/blurred-photos-1280.jpg');
	background-size: 640px 180px;
	min-height: 180px;
}

/* Index Page */

#content {
	display: flex;
	align-items: flex-start;
}

#instagram {
  width: 320px;
  flex-shrink: 0;
}
