<!-- Site Top Navigation -->

<nav id="top-nav" class="page-width page-centre">
	<i id="menu-toggle" class="mdi mdi-menu mdi-48px"></i>
	<ul class="hidden">
		<% for (var i in theme.menu){ %>
			<li>
				<a href="<%- theme.menu[i].url ? url_for(theme.menu[i].url) : url_for(theme.menu[i]) %>"><%= i %></a>
			</li>
		<% } %>
	</ul>
</nav>