<!-- Page Header -->

<header id="site-header" class="page-centre">
  <h1 id="site-title"><a href="/"><%- config.title || "Untitled" %></a></h1>
  <h2 id="site-subtitle"><a href="/">Tales of a Wheelchair Nomad</a></h2>
</header>