@font-face {
    font-family: 'painted-regular';
    src: url('fonts/painted-regular-webfont.woff2') format('woff2'),
         url('fonts/painted-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}